<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t('bank.plural') %></h1>
    <%= link_to t('bank.new'), new_bank_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="banks" class="min-w-full">
    <%= render @banks %>
  </div>
</div>
