<div class="flex justify-end px-6 py-4 flex-shrink-0 space-x-8">
  <%= link_to t('home.title'), '/', class: "rounded mx-1 px-2 py-1 border border-blue-900 text-blue-900 hover:text-gray-900 hover:bg-blue-100" %>
  <%= link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: "rounded mx-1 px-2 py-1 border border-blue-500 text-blue-700 hover:text-blue-900 hover:bg-blue-200" %>
  <%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: "rounded mx-1 px-2 py-1 border border-blue-500 text-blue-700 hover:text-blue-900 hover:bg-blue-200" %>
</div>